*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
